#parse("templates/layout.vm")
#@mainLayout()
<div class="login">
<table align="center" class="header">
    <tbody><tr>
        <th width="180">
            <img class="middle" src="logo.png" alt="logo">
        </th>
        <th>
            <span class="claim_management">Claim Management</span>
        </th>
    </tr>
    </tbody>
</table>
<form action="/login" method="post" id="login">
    <table border="0" cellpadding="20" align="center">
        <tr>
    <td>
    <input type="text" name="username" placeholder="Username"  required>
    </td>
        </tr>
    <tr>
        <td>
        <input type="password" placeholder="Password" name="password" required>
        </td>
    </tr>
        </tr>
    <td align="center">
        <input value="login" type="submit">
    </td>
        </tr>
    </table>
</form>
</div>
<script>
$(document).ready(function() {
$("#login").validate();
});
</script>
#end