#parse("templates/layout.vm")
#@mainLayout()
<div class="form">
#parse( "templates/managerheader.vm" )
<table border="0" cellspacing="0" cellpadding="0" align="center" class="heading">
    <tr>
        <td>View Claim for Claim Number $claim.getClaimid()</td>
    </tr>
</table>
    <table border="0" cellspacing="0" cellpadding="0" align="center">
        <td align="center">
        <a href="/view_policy/$claim.getClaimType()/$claim.getCustomer().getCustomerid()" rel="modal:open" class="button">View Policy</a>
        <a href="/view_customer/$claim.getCustomer().getCustomerid()" rel="modal:open" class="button">View Customer</a>
        </td>
    </table>
    <script>
    $(document).ready(function(){
    $("select#claimadjuster").change(function(){
    var selectedClaimAdjuster = $(this).children("option:selected").val();
    if(selectedClaimAdjuster == ""){
        return;
    }
    $.post( "/set_claim_adjuster/$claim.getClaimid()", { claimadjusterid: selectedClaimAdjuster  }, function( data ) {
  alert(data);
});
     });
          });

</script>
<table border="0" cellpadding="10" align="center">
    <tr>
        <td style="font-weight: bold">Claim Type</td>
        <td>
            $claim.getClaimTypeName()
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Claim Adjuster</td>
        <td>
            <select name="claimadjuster" id="claimadjuster">
                <option></option>
            #foreach( $claimadjuster in $claimadjusters )
                    #if( $claimadjuster.getClaimadjusterid() == $claim.getClaimadjuster().getClaimadjusterid())
                        <option value="$claimadjuster.getClaimadjusterid()" selected>$claimadjuster.getUser().getFullName()</option>
                    #else
                        <option value="$claimadjuster.getClaimadjusterid()">$claimadjuster.getUser().getFullName()</option>
                    #end
                #end
            </select>
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Date Lodged</td>
        <td>
            $date.format("dd-MM-yyyy", $claim.getDate())
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Last updated</td>
        <td>
            $date.format("dd-MM-yyyy", $claim.getLastupdated())
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Status</td>
        <td>
            $claim.getStatus()
        </td>
    </tr>
    #if($claim.getAmount() > 0)
    <tr>
        <td style="font-weight: bold">Amount</td>
        <td>
                $claim.getAmount()
        </td>
    </tr>
    #end
    <tr>
        <td style="font-weight: bold">Date of incident</td>
        <td>
            $date.format("dd-MM-yyyy", $claim.getDateofincident())
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Time of Incident</td>
        <td>
            $claim.getTimeofincident()
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold">Description</td>
        <td>
            $claim.getDescription()
        </td>
    </tr>
    #if($claim.getClaimTypeName() == "Home Insurance")
    <tr>
        <td style="font-weight: bold">Type of Incident</td>
        <td>
            $claiminfo.getTypeofincident()
        </td>
    </tr>
    #end
    #if($claim.getClaimTypeName() == "Car Insurance")
    <tr>
        <td style="font-weight: bold">Location</td>
        <td>
            $claiminfo.getLocation()
        </td>
    </tr>
    #end
    #if($claim.getClaimTypeName() == "Accidental Damage Insurance")

    #end
    <tr>
        <td style="font-weight: bold">Notes</td>
        <td>
            #if($claim.getNotes())
                $claim.getNotes()
            #end
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold" valign="top">Documents</td>
        <td>
            #foreach( $supportingdocument in $supportingdocuments )
            <div class="file">$supportingdocument.getDocumentname()</div> <a href="/download_file/$supportingdocument.getDocumentid()"><img src="u28.svg"></a><br>
            #end
        </td>
    </tr>
</table>
</div>
#end